.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.spinner {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}