@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --moji-text-color: #020a5a;
  --moji3-text-color: #008080;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
    --heroui-background: #0a0a0a;
  }
} */

html.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --heroui-background: #0a0a0a;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "M PLUS Rounded 1c", serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* quiz detail page */
.question-text u {
  background-color: rgb(250 204 21 / var(--tw-bg-opacity, 1));
}

.question-text div {
  margin-top: -12px;
}
