.curve {
  position: fixed;
  width: 136%;
  height: 46%;
  border-radius: 47%;
  background: #fad14f;
  background: linear-gradient(140deg, rgba(251, 220, 121, 1) 0%, rgba(250, 209, 79, 1) 100%);
  left: 50%;
  top: 55px;
  transform: translate(-50%, -50%);
}

.title_text {
  text-shadow: #a8a8a8 1px 0 10px;
}

.border_shadow {
  box-shadow:
    rgba(251, 220, 121, 0.4) 1px 1px,
    rgba(251, 220, 121, 0.3) 3px 2px,
    rgba(251, 220, 121, 0.2) 6px 5px;
}
